@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */


.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}

#header {
	width:100%;
	height:180px;
	}

	#logo {

	width:30%;
	height:120px;
	background:rgba(204,204,0,1);
	margin-top:10px;
	margin-left:10px;
	float:left;
	}

	#header-title {
	margin-top:40px;
	
	float:right;
	
	font-weight:bold;
	margin-left:2%;
	color:rgba(0,102,204,1);
	text-shadow:1px 1px 3px rgba(204,204,0,.5);	
		
	}
#main {
	clear:both;
	padding:4px;
}

.content-header {
	
	vertical-align:middle;
text-shadow:1px 1px 1px 1px rgba(204,204,204,1);
color:rgba(0,0,0,1);
border-bottom:thin solid rgba(51,51,51,.5);
	
}



#vision {
width: 75%;
height:500px;
clear:both;
margin:auto;
margin-left:10%;
margin-bottom:40px;
padding:10px;
background:rgba(0,0,0,1);	
}

#calendar {
	margin-top:5%;
	background:rgba(204,204,102,1);
	border:none;
	box-shadow:inset 0px 0px 2px 20px rgba(0,0,0,.5);
	
	}

.calendar-format-l {border-radius:5px 0px 0px 0px;background:rgba(0,51,102,1);color:white;font-weight:bold;}

.calendar-format-r {border-radius:0px 5px 0px 0px;background:rgba(0,51,102,1);color:white;font-weight:bold;}

.calendar-format {background:rgba(0,51,102,1);color:white;font-weight:bold;}

.dt {
	margin-left:1%;
	margin-right:1%;
	text-align:left;
	width:100px;
	height:100px;
	border-radius:5px;
	background:rgba(255,255,255,1);
	box-shadow:1px 1px 1px 1px rgba(51,51,51,.3);
	border-top:medium solid rgba(51,51,51,1);
	border-left:medium solid rgba(0,51,102,1);
	}
	
.days-over {
	margin-left:1%;
	margin-right:1%;
	text-align:left;
	height:100px;
	border-radius:5px;
	background:rgba(255,255,255,1);
	box-shadow:inset 0px 0px 1px 2px rgba(51,51,51,.7);
	border:0;
	}
	
#social {
	margin-top:10px;
	width:100%;
	height: 80px;
	background:rgba(0,0,0,.6);
	}
	
#footer {
	
	
	}
	
#legal {
	margin-top:20px;
	width: 100%;
	height: 60px;
	background:rgba(0,51,102,1);
	}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}